.dark-heading {
  color: #444444 !important;
}

.white-heading {
  color: #FFFFFF !important;
}

.display {
  display: flex !important;
}

@keyframes jumpup {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-0.5rem);
  }
}
@keyframes slipeIn {
  from {
    transform: translateX(-100%) rotate(30deg) translateY(-1.2rem);
  }
  to {
    transform: translateX(20rem) rotate(30deg) translateY(-1.2rem);
  }
}
@keyframes slipeOut {
  from {
    transform: translateX(20rem) rotate(30deg) translateY(-1.2rem);
  }
  to {
    transform: translateX(-100%) rotate(30deg) translateY(-1.2rem);
  }
}
@keyframes bulgeUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
  }
  100% {
    transform: scale3d(1);
  }
}
@keyframes modalAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 1.6rem;
  color: #FFFFFF;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
@media only screen and (max-width: 50rem) {
  body {
    padding: 0;
  }
}

.nav__title {
  color: #FFFFFF;
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1.5;
}

.hero__content--italic {
  font-size: 2rem;
  font-family: "Parisienne", cursive;
  letter-spacing: 1px;
  font-weight: 100;
}
@media only screen and (max-width: 37.5rem) {
  .hero__content--italic {
    font-size: 1.6rem;
  }
}

.hero__content--heading {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 6.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  font-size: 4.32rem;
}
@media only screen and (max-width: 50rem) {
  .hero__content--heading {
    font-size: 3.12rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .hero__content--heading {
    font-size: 2.496rem;
    line-height: 4rem;
  }
}

.hero__content--normal, .modal__content, .footer__contact--content--primary, .footer__contact--content {
  font-size: 1.36rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
@media only screen and (max-width: 37.5rem) {
  .hero__content--normal, .modal__content, .footer__contact--content--primary, .footer__contact--content {
    font-size: 1.088rem;
  }
}

.booking__heading, .footer__contact--heading, .footer__project--heading, .evaluate-quote__author-heading {
  text-transform: uppercase;
  font-size: 1.52rem;
  color: #555;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 0.8rem;
}
@media only screen and (max-width: 37.5rem) {
  .booking__heading, .footer__contact--heading, .footer__project--heading, .evaluate-quote__author-heading {
    font-size: 1.216rem;
  }
}

.booking_content, .contact__content, .evaluate-quote__content {
  font-size: 1.2rem;
  color: #555;
  font-weight: 400;
  text-align: center;
  margin-bottom: 0.8rem;
}
@media only screen and (max-width: 37.5rem) {
  .booking_content, .contact__content, .evaluate-quote__content {
    font-size: 0.96rem;
    margin-bottom: 0.64rem;
  }
}

.slogan__content, .evaluate__title--content, .expert__title--content, .product__title--content, .pricing__title--content {
  font-size: 1.84rem;
  font-family: "Parisienne", cursive;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
}
@media only screen and (max-width: 37.5rem) {
  .slogan__content, .evaluate__title--content, .expert__title--content, .product__title--content, .pricing__title--content {
    font-size: 1.472rem;
  }
}

.slogan__heading, .modal__heading, .contact__heading, .evaluate__title--heading, .expert__title--heading, .product__title--heading, .pricing__title--heading {
  font-size: 1.92rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.8rem;
  letter-spacing: 0.3rem;
}
@media only screen and (max-width: 37.5rem) {
  .slogan__heading, .modal__heading, .contact__heading, .evaluate__title--heading, .expert__title--heading, .product__title--heading, .pricing__title--heading {
    font-size: 1.536rem;
  }
}

.expert__title--heading, .product__title--heading, .pricing__title--heading {
  margin-bottom: 0.8rem;
}

.expert__title--content, .product__title--content, .pricing__title--content {
  color: #f29a7f;
}

.expert__name {
  margin-top: 2rem;
  font-size: 1.28rem;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.expert__specialist {
  font-size: 1.12rem;
  color: #b3b3b3;
  text-align: center;
}
@media only screen and (max-width: 37.5rem) {
  .expert__specialist {
    margin-bottom: 2rem;
  }
}

.evaluate__title--content {
  font-weight: 100;
  text-transform: capitalize;
}

.evaluate__title--heading {
  margin-bottom: 0.8rem;
  letter-spacing: 0.3rem;
}

.evaluate-quote__author-heading {
  margin: 0;
}

.number__quantity {
  font-size: 4.56rem;
  font-weight: 400;
  line-height: 5.2rem;
}

.number__name {
  font-size: 1.04rem;
}
@media only screen and (max-width: 50rem) {
  .number__name {
    margin-bottom: 2rem;
  }
}

.pricing__title--heading {
  letter-spacing: 0.3rem;
}

.pricing__heading {
  color: #444444;
  font-size: 1.52rem;
  text-transform: uppercase;
  font-weight: 500;
}
@media only screen and (max-width: 37.5rem) {
  .pricing__heading {
    font-size: 1.216rem;
  }
}

.pricing__detail {
  color: #777;
  font-size: 1.2rem;
}
@media only screen and (max-width: 37.5rem) {
  .pricing__detail {
    font-size: 0.96rem;
  }
}

.pricing__number {
  font-size: 1.6rem;
  color: #f29a7f;
  font-weight: 700;
  font-family: "Parisienne", cursive;
}

.service__heading {
  font-size: 1.68rem;
  color: #eee;
  font-weight: 400;
  text-align: center;
}

.service__info {
  font-size: 1.12rem;
  color: #eeeeee;
  text-align: center;
}

@media only screen and (max-width: 37.5rem) {
  .product__title--content {
    text-align: center;
  }
}

.product__title--heading {
  letter-spacing: 0.3rem;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 37.5rem) {
  .product__title--heading {
    text-align: center;
  }
}

.product__title--desc {
  font-size: 1.2rem;
  color: #555;
}
@media only screen and (max-width: 37.5rem) {
  .product__title--desc {
    text-align: center;
    font-size: 0.96rem;
  }
}

.product__step--number {
  color: #f29a7f;
  font-size: 2rem;
}

.product__step--name {
  font-size: 1.12rem;
  color: #444444;
  text-transform: uppercase;
  font-weight: 500;
}
@media only screen and (max-width: 37.5rem) {
  .product__step--name {
    font-size: 0.896rem;
  }
}

.product__step--detail {
  font-size: 1.04rem;
  color: #777;
}
@media only screen and (max-width: 37.5rem) {
  .product__step--detail {
    font-size: 0.832rem;
  }
}

.contact__heading {
  letter-spacing: 0.3rem;
  margin-bottom: 0.8rem;
  max-width: 80%;
}
@media only screen and (max-width: 50rem) {
  .contact__heading {
    display: block;
    text-align: center;
  }
}

.contact__content {
  margin-bottom: 1.6rem;
}

.footer__contact--heading, .footer__project--heading {
  text-align: center;
}

.footer__contact--content {
  font-weight: 400;
}

.footer__contact--content--primary {
  font-weight: 400;
  color: #f29a7f;
}

.footer__project--heading {
  margin-bottom: 1.6rem;
  text-align: left;
}

.footer__project--link {
  font-size: 1.28rem;
  color: #f29a7f;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;
}
@media only screen and (max-width: 65.625rem) {
  .footer__project--link {
    display: block;
    text-align: center;
  }
}

.footer__project--content {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.modal__heading {
  color: #444444;
  font-weight: 500;
  letter-spacing: 0.3rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

.modal__content {
  color: #444444;
  margin-bottom: 0.8rem;
  font-weight: 400;
  text-align: center;
}

.hero-section {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../img/hero-background.jpeg");
  background-size: cover;
  background-position: center;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
@media only screen and (max-width: 50rem) {
  .hero-section {
    height: 100vh;
  }
}

.hero__content {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero__content--italic {
  padding-bottom: 0.8rem;
}
.hero__content--heading {
  padding-bottom: 2.4rem;
}
.hero__content--normal, .footer__contact--content, .footer__contact--content--primary, .modal__content {
  padding-bottom: 1.6rem;
}

.booking {
  display: flex;
  padding: 7.2rem 0rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 24.8rem;
}
@media only screen and (max-width: 65.625rem) {
  .booking {
    margin: 0 auto;
    width: 57.6rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .booking {
    margin: 0 auto;
    width: 32rem;
  }
}
.booking__img--1, .booking__img--2, .booking__img--3 {
  width: 33.3333333333%;
  float: left;
}
@media only screen and (max-width: 65.625rem) {
  .booking__img--1, .booking__img--2, .booking__img--3 {
    width: 28.8rem;
    height: 30.4rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .booking__img--1, .booking__img--2, .booking__img--3 {
    width: 16rem;
    height: 17.8rem;
  }
}
@media only screen and (max-width: 65.625rem) {
  .booking__img--1 {
    order: 1;
  }
}
@media only screen and (max-width: 65.625rem) {
  .booking__img--2 {
    order: 5;
  }
}
@media only screen and (max-width: 65.625rem) {
  .booking__img--3 {
    order: 4;
  }
}
.booking__card {
  padding: 2.4rem;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 37.5rem) {
  .booking__card {
    padding: 1.92rem;
  }
}
.booking__card--1, .booking__card--2, .booking__card--3 {
  width: 33.3333333333%;
  float: left;
}
@media only screen and (max-width: 65.625rem) {
  .booking__card--1, .booking__card--2, .booking__card--3 {
    width: 28.8rem;
    height: 30.4rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .booking__card--1, .booking__card--2, .booking__card--3 {
    width: 16rem;
    height: 17.8rem;
  }
}
@media only screen and (max-width: 65.625rem) {
  .booking__card--1 {
    order: 2;
  }
}
@media only screen and (max-width: 65.625rem) {
  .booking__card--2 {
    order: 3;
  }
}
@media only screen and (max-width: 65.625rem) {
  .booking__card--3 {
    order: 6;
  }
}

.slogan {
  display: flex;
  width: 100%;
  height: 36rem;
}
@media only screen and (max-width: 50rem) {
  .slogan {
    flex-direction: column;
    height: 100%;
  }
}

.slogan__img-1 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/slogan1.jpeg);
}
.slogan__img-2 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/slogan2.jpeg);
  margin: 0 16px;
}
@media only screen and (max-width: 50rem) {
  .slogan__img-2 {
    margin: 0;
    background-position: unset !important;
  }
}
.slogan__img-3 {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/slogan3.jpeg);
}
.slogan__img-1, .slogan__img-2, .slogan__img-3 {
  width: 33.3333333333%;
  float: left;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 50rem) {
  .slogan__img-1, .slogan__img-2, .slogan__img-3 {
    width: 100%;
    height: 56rem;
  }
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__logo {
  margin-top: 1.6rem;
  height: 8.8rem;
}
@media only screen and (max-width: 37.5rem) {
  .header__logo {
    height: 7.04rem;
    margin-top: 1.2rem;
  }
}
.header__right {
  display: flex;
  margin-top: 1.8rem;
}
@media only screen and (max-width: 50rem) {
  .header__right {
    flex-direction: column;
    align-items: flex-end;
  }
}
@media only screen and (max-width: 37.5rem) {
  .header__right {
    margin-top: 1.2rem;
  }
}
.header__nav {
  display: flex;
}
@media only screen and (max-width: 50rem) {
  .header__nav {
    flex-direction: column;
    align-items: flex-end;
    display: none;
    margin-top: 2.4rem;
  }
}
.header__nav--item {
  list-style: none;
}
@media only screen and (max-width: 50rem) {
  .header__nav--item:not(:last-child) {
    margin-bottom: 1.84rem;
  }
}
.header__nav--item:not(:first-child) {
  margin-left: 5.6rem;
}
.header__nav--responsive {
  font-size: 2.8rem;
  display: none;
}
@media only screen and (max-width: 50rem) {
  .header__nav--responsive {
    display: block;
  }
}
@media only screen and (max-width: 37.5rem) {
  .header__nav--responsive {
    font-size: 2.25rem;
  }
}
.header__nav--link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}
.header__nav--link::before {
  content: "";
  background-color: #f29a7f;
  width: 6.4rem;
  height: 0.2rem;
  position: absolute;
  bottom: -1rem;
  transform: scaleX(0);
  transition: all 0.2s ease-out;
}
.header__nav--item:hover .header__nav--link {
  color: #f29a7f;
  transform: translateY(-0.5rem);
}
.header__nav--item:hover .header__nav--link::before {
  color: #f29a7f;
  transform: scaleX(1);
}

.evaluate {
  padding: 8rem 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/evaluate.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.evaluate__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.4rem;
}
.evaluate__title--divide {
  height: 2rem;
}
.evaluate-quote {
  width: 60%;
  position: relative;
}
.evaluate-quote__character {
  font-size: 6.4rem;
  color: #FFFFFF;
  opacity: 0.8;
  position: absolute;
  top: -34%;
  left: -3%;
}
.evaluate-quote__author {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.4rem;
}
.evaluate-quote__author-img {
  height: 5.6rem;
  border-radius: 50%;
  margin-right: 1.6rem;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7ad6bc;
  padding: 8rem 0;
}
@media only screen and (max-width: 65.625rem) {
  .numbers {
    flex-wrap: wrap;
  }
}

.number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22rem;
}
@media only screen and (max-width: 50rem) {
  .number {
    width: 35%;
    float: left;
  }
}
.number__icon {
  height: 5.2rem;
}

.pricing {
  padding: 5.6rem 28rem;
  background-color: #f0f0f0;
}
@media only screen and (max-width: 65.625rem) {
  .pricing {
    padding: 5.6rem 14rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .pricing {
    padding: 5.6rem 6rem;
  }
}
.pricing__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6.4rem;
}
.pricing__title--divide {
  height: 2rem;
}
.pricing__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pricing__each {
  width: 47%;
  padding-bottom: 1.6rem;
  float: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media only screen and (max-width: 75rem) {
  .pricing__each {
    width: 100%;
  }
}
.pricing__each:nth-child(-n+6) {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.pricing__each:nth-last-child(-n+6) {
  padding-top: 1.6rem;
}
@media only screen and (max-width: 75rem) {
  .pricing__each:nth-child(-n+7) {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  }
  .pricing__each:nth-last-child(-n+7) {
    padding-top: 2.4rem;
  }
}
.pricing__hot {
  position: absolute;
  left: 35%;
  top: 4%;
  animation: bulgeUp 1s ease-in-out infinite;
}
@media only screen and (max-width: 75rem) {
  .pricing__hot {
    left: 13.7rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .pricing__hot {
    left: 11rem;
  }
}
.pricing__popular {
  position: absolute;
  left: 40%;
  top: 24%;
  animation: bulgeUp 1s ease-in-out infinite;
}
@media only screen and (max-width: 75rem) {
  .pricing__popular {
    left: 16rem;
    top: 2.5rem;
  }
}
@media only screen and (max-width: 37.5rem) {
  .pricing__popular {
    left: 13rem;
  }
}

.serivces {
  overflow: hidden;
  display: flex;
  width: 100%;
}
@media only screen and (max-width: 65.625rem) {
  .serivces {
    flex-wrap: wrap;
  }
}

.service {
  width: 25%;
  position: relative;
}
@media only screen and (max-width: 65.625rem) {
  .service {
    width: 33.33%;
  }
}
@media only screen and (max-width: 50rem) {
  .service {
    width: 50%;
  }
}
.service__img {
  width: 100%;
  height: auto;
}
.service__icon {
  color: #f29a7f;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s 0.2s ease-in;
}
.service__icon--fa {
  font-size: 2.8rem;
  margin: 0 0.8rem;
}
.service__info {
  visibility: hidden;
  opacity: 0;
  background-color: #444444;
  padding: 1.2rem 0;
  position: absolute;
  bottom: 0.4rem;
  right: 0;
  left: 0;
  transform: translateX(0);
  transition: all 0.4s 0.3s ease-in;
}
.service:hover .service__icon {
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
  opacity: 1;
}
.service:hover .service__img {
  filter: blur(1px) brightness(50%);
}
.service:hover .service__info {
  transform: translateX(1);
  visibility: visible;
  opacity: 1;
}

.product {
  padding: 5.6rem 0;
  display: flex;
  max-width: 91.2rem;
}
@media only screen and (max-width: 65.625rem) {
  .product {
    flex-wrap: wrap;
  }
}
.product__title {
  margin-bottom: 2.4rem;
}
.product__steps {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding-bottom: 2.4rem;
}
@media only screen and (max-width: 65.625rem) {
  .product__steps {
    max-width: 70%;
  }
}
@media only screen and (max-width: 50rem) {
  .product__steps {
    max-width: 85%;
  }
}
@media only screen and (max-width: 37.5rem) {
  .product__steps {
    flex-direction: column;
    align-items: center;
  }
}
.product__step {
  display: flex;
}
@media only screen and (max-width: 37.5rem) {
  .product__step {
    margin-bottom: 2rem;
  }
}
.product__step--abc {
  margin-left: 0.8rem;
}
.product__step--number {
  display: inline-block;
  border: 1px solid #f29a7f;
  border-radius: 50%;
  width: 3.4rem;
  height: 3.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__step--number:not(:first-child) {
  margin-left: -6rem;
}
@media only screen and (max-width: 65.625rem) {
  .product__left {
    max-width: 91%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 37.5rem) {
  .product__left {
    align-items: center;
  }
}
@media only screen and (max-width: 65.625rem) {
  .product__right {
    margin: 0 auto;
  }
}
.product__right--img {
  height: 36rem;
}
@media only screen and (max-width: 65.625rem) {
  .product__right--img {
    height: 28rem;
  }
}

.btn, .modal__btn, .product__btn, .pricing__btn, .booking__btn, .btn-animation1 {
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transition: all 0.4s;
}

.before-btn, .modal__btn::before, .product__btn::before, .pricing__btn::before, .booking__btn::before, .btn-animation1::before {
  content: "";
  width: 1.1rem;
  height: 7rem;
  background-color: #FFFFFF;
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.4s;
}

.btn-animation1 {
  background-color: #f29a7f;
  padding: 1.6rem 3.2rem;
  font-size: 1.2rem;
}
@media only screen and (max-width: 37.5rem) {
  .btn-animation1 {
    font-size: 0.96rem;
    padding: 1.28rem 2.56rem;
  }
}
.btn-animation1::before {
  transform: translateX(-100%);
  animation: slipeOut 0.4s ease-in-out;
}
.btn-animation1:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0.2rem 0.3rem 2rem rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-out;
  background-color: #f78a5f;
}
.btn-animation1:hover::before {
  animation: slipeIn 0.4s ease-in-out;
}

.booking__btn {
  background-color: #7ad6bc;
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
}
@media only screen and (max-width: 37.5rem) {
  .booking__btn {
    font-size: 0.96rem;
    padding: 0.384rem 0.96rem;
  }
}
.booking__btn::before {
  transform: translateX(-100%);
  animation: slipeOut 0.4s ease-in-out;
}
.booking__btn:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0.2rem 0.3rem 2rem rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-out;
  background-color: #60dab7;
}
.booking__btn:hover::before {
  animation: slipeIn 0.4s ease-in-out;
}

.pricing__hot {
  background-color: #f29a7f;
  padding: 0.2rem 0.6rem;
  font-size: 0.96rem;
  text-transform: capitalize;
  font-weight: 500;
}
@media only screen and (max-width: 37.5rem) {
  .pricing__hot {
    font-size: 0.768rem;
  }
}

.pricing__popular {
  background-color: #7ad6bc;
  padding: 0.2rem 0.8rem;
  font-size: 0.96rem;
  text-transform: capitalize;
  font-weight: 500;
}
@media only screen and (max-width: 37.5rem) {
  .pricing__popular {
    font-size: 0.768rem;
  }
}

.pricing__btn {
  background-color: #f29a7f;
  padding: 0.5rem 1.4rem;
  font-size: 1.2rem;
  margin-top: 3.6rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 37.5rem) {
  .pricing__btn {
    font-size: 0.96rem;
    padding: 0.384rem 0.96rem;
  }
}
.pricing__btn::before {
  transform: translateX(-100%);
  animation: slipeOut 0.4s ease-in-out;
}
.pricing__btn:hover {
  transform: translateY(-0.6rem) translate(-50%, -50%);
  box-shadow: 0.2rem 0.3rem 2rem rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-out;
  background-color: #f78a5f;
}
.pricing__btn:hover::before {
  animation: slipeIn 0.4s ease-in-out;
}

.product__btn {
  background-color: #7ad6bc;
  padding: 0.48rem 1.2rem;
  font-size: 1.2rem;
}
.product__btn::before {
  transform: translateX(-100%);
  animation: slipeOut 0.4s ease-in-out;
}
.product__btn:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0.2rem 0.3rem 2rem rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-out;
  background-color: #60dab7;
}
.product__btn:hover::before {
  animation: slipeIn 0.4s ease-in-out;
}
@media only screen and (max-width: 37.5rem) {
  .product__btn {
    position: relative;
    top: -8%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 0.96rem;
    padding: 0.384rem 0.96rem;
  }
}

.modal__btn {
  background-color: #f29a7f;
  font-size: 1.2rem;
  padding: 1.6rem 3.2rem;
}
.modal__btn::before {
  transform: translateX(-100%);
  animation: slipeOut 0.4s ease-in-out;
}
.modal__btn:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0.2rem 0.3rem 2rem rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease-out;
  background-color: #f78a5f;
}
.modal__btn:hover::before {
  animation: slipeIn 0.4s ease-in-out;
}

.expert {
  padding: 8rem 0;
}
.expert__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expert__title--divide {
  height: 2rem;
}
.expert__list {
  width: 100%;
  padding-top: 6.4rem;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 37.5rem) {
  .expert__list {
    flex-wrap: wrap;
  }
}
.expert__card {
  width: 22.8rem;
}
@media only screen and (max-width: 37.5rem) {
  .expert__card {
    width: 50%;
    float: left;
  }
}
.expert__img {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  transition: all 0.4s ease-in;
}
.expert__img-cap {
  display: flex;
  justify-content: center;
  position: relative;
}
.expert__icon {
  font-size: 5rem;
  color: #7ad6bc;
  border: 0.15rem solid #7ad6bc;
  border-radius: 50%;
  padding: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  transition: all 0.4s 0.3s;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}
.expert__card:hover .expert__img {
  filter: blur(0.1rem) brightness(50%);
}
.expert__card:hover .expert__icon {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.contact {
  padding: 5.6rem 0;
  background-color: #f29a7f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__form--form {
  width: 20rem;
  height: 2.8rem;
  padding: 0 1.6rem;
  font: "Quicksand", sans-serif;
  font-size: 1.16rem;
  border-radius: 0.5rem;
  border: none;
  margin-right: 1.2rem;
  color: #b3b3b3;
}
.contact__form--form:focus {
  outline-color: #7ad6bc;
  background-color: #eee;
}
.contact__form--btn {
  padding: 0.64rem 1.12rem;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.contact__form--btn:hover {
  color: #f29a7f;
  background-color: #FFFFFF;
}

.footer {
  background-color: #333;
  padding: 5.8rem 0;
  display: flex;
  justify-content: center;
}
.footer__wrapper {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 65.625rem) {
  .footer__wrapper {
    flex-direction: column;
  }
}
.footer__logo {
  height: 20rem;
}
@media only screen and (max-width: 75rem) {
  .footer__logo {
    height: 16rem;
  }
}
@media only screen and (max-width: 65.625rem) {
  .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__contact--info {
  display: flex;
}
.footer__contact-icon {
  font-size: 2rem;
  padding-right: 1.2rem;
}
@media only screen and (max-width: 65.625rem) {
  .footer__project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  animation: modalAppear 3s ease both;
  animation-delay: 3s;
}
.modal__wrapper {
  background-color: #FFFFFF;
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem 3.2rem;
  position: relative;
  top: 23.5rem;
}
.modal__icon {
  font-size: 1.8rem;
  color: #7ad6bc;
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.modal__icon:hover {
  cursor: pointer;
  color: #444444;
}

/*# sourceMappingURL=style.css.map */
