.footer {
    background-color: $footer-background;
    padding: 5.8rem 0;
    display: flex;
    justify-content: center;


    &__wrapper {
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include large-width {
            flex-direction: column;
        }
        
    }

    &__logo {
        height: 20rem;
        @include largest-width {
            height: 16rem;
        }
    }

    &__contact {
        @include large-width {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &--info {
            display: flex;
            
        }

        &-icon {
        font-size: 2rem;
        padding-right: 1.2rem;
    }
    }

    &__project {
        @include large-width {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}