.header {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__logo{
        margin-top: 1.6rem;
        height: 8.8rem;
        @include small {
            height: 7.04rem;
            margin-top: 1.2rem;
        }
    }

    &__right {
        display: flex;
        margin-top: 1.8rem;
        @include medium-width {
            flex-direction: column;
            align-items: flex-end;
        }
        @include small {
            margin-top: 1.2rem;
        }
    }

    &__nav {
        display: flex;
        @include medium-width {
            flex-direction: column;
            align-items: flex-end;
            display: none;
            margin-top: 2.4rem;
        }
    
        &--item {
            list-style: none;
          
            @include medium-width {
                &:not(:last-child) {
                    margin-bottom: 1.84rem;
                }
            }
            &:not(:first-child) {
                margin-left: 5.6rem;
            }

        }

        &--responsive {
            font-size: 2.8rem;
            display: none;
            @include medium-width {
                display: block;
            }
            @include small {
                font-size: 2.25rem;
            }
        }


        &--link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            transition: all .5s;

            &::before {
                content: '';
                background-color: $primary-color;
                width: 6.4rem;
                height: .2rem;
                position: absolute;
                bottom: -1rem;
                transform: scaleX(0);
                transition: all .2s ease-out;
            }
        }

        &--item:hover &--link  {
            color: $primary-color;
            transform: translateY(-0.5rem);
        }

        &--item:hover &--link::before {
            color: $primary-color;
            transform: scaleX(1);
        }

      
    }
}
