.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    padding: 8rem 0;
    @include large-width {
        flex-wrap: wrap;
    }
}

.number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22rem;
    @include medium-width {
        width: 35%;
        float: left;
    }
    &__icon {
        height: 5.2rem;
    }
}