.serivces {
    overflow: hidden;
    display: flex;
    width: 100%;
    @include large-width {
        flex-wrap: wrap;
    }
}

.service {
    width: 25%;
    position: relative;
    @include large-width {
        width: 33.33%;
    }
    @include medium-width {
        width: 50%;
    }
    &__img {
        width: 100%;
        height: auto;
    }

    &__icon {
        color: $primary-color;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.2);
        visibility: hidden;
        opacity: 0;
        transition: all .3s .2s ease-in;

        &--fa {
            font-size: 2.8rem;
            margin: 0 .8rem;
        }
    }

    &__info {
        visibility: hidden;
        opacity: 0;
        background-color: $black-color-sub-title;
        padding: 1.2rem 0;
        position: absolute;
        bottom: 0.4rem;
        right: 0;
        left: 0;
        transform: translateX(0);
        transition: all .4s .3s ease-in;
    }

    &:hover &__icon {
        transform: translate(-50%, -50%) scale(1);
        visibility: visible;
        opacity: 1;
    }

    &:hover &__img {
        filter: blur(1px) brightness(50%);
    }

    &:hover &__info {
        transform: translateX(1);
        visibility: visible;
        opacity: 1;
    }
}
