// color

$white-color: #FFFFFF;
$black-color-title: #555;
$black-color-sub-title: #444444;
$black-color-detail: #777;
$primary-color: #f29a7f;
$bold-orange: #f78a5f;
$footer-background: #333;
$secondary-color: #7ad6bc;
$light-gray: #f3f3f3;
$bold-green: #60dab7;
$light-gray-text: #b3b3b3;
$gray-background: #f0f0f0;
// font

$primary-font: 'Quicksand', sans-serif;
$secondary-font: 'Parisienne', cursive;

// responsive
$mobile-width: 480px; 
$medium-width: 80rem; 
$small-width: 60rem;
